
.contact-edit{
    background-color: white;
    border-radius: 4px;
    display: flex;
    width: 400px;
    flex-direction: column;
    margin: 100px auto;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%) ;
    h3{
      text-align: center;
      padding: 15px 0;
    }
    div{
      display: flex;
      width: 100%;
      padding: 20px 50px 20px 50px;
      justify-content: space-between;
      align-items: center;
      input{
        box-sizing: border-box;
        padding: 8px 12px;
        border: 1px solid #c5c6c9;
        border-radius: 4px;
        box-shadow: none;
        font-size: 16px;
        font: inherit;
        color: #404145;
        transition: 0.15s ease-in-out;
        width: 70%;
      }
    }
    button{
      border: 0;
    }
}
