.contact-details{
  display: flex;
  .contact-details-container{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    width: 400px;
    height: 600px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%) ;
    background-color: #f7f5f5;
    color: #404145;
    padding: 10px;
    margin-inline-end: 20px;
    & .contact-title{
      margin: 20px 0 40px 0;
      display: flex;
      justify-content: center;
      font-size: 25px;
    }
    & .contact-details-items{
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      & .contact-img-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        & .contact-img{
          border-radius: 50%;
          width:150px;
          height:150px;
          margin: auto;
        }
      }
      & h5{
        padding: 5px 10px;
        font-size: 16px;
      }
    }
    & footer{
      display: flex;
      justify-content: space-between;
      .footer-button{
        font-size: 20px;
        padding: 5px;
      }
    }
  }
  .user-moves-details{
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 400px;
    height: 600px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%) ;
    background-color: #f7f5f5;
    color: #404145;
    padding: 10px;
    margin-inline-start: 20px;
  }
}

@media (max-width : 1000px ){
  .contact-details{
    flex-direction: column;
    padding: 0 25px;
    .user-moves-details{
      margin-inline-start: 0;
      margin: auto;
      margin-block-start: 40px;
    }
    .contact-details-container{
      margin-inline-end: 0;
      margin-bottom: 20px;
      margin: auto;
    }
  }
}
