.signup{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 300px;
  margin: auto;
  margin-top: 200px;
  height: 300px;
  padding: 150px;
  border: 1px solid black;
  form{
    >* {
      margin-bottom: 20px;
    }
  }
}
